@model VidPlace.Models.Customer
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<h3>ID: @Model.ID  <br />
    Name : @Model.Name</h3>
<p>Address: @Model.Address</p>

