@model IEnumerable<VidPlace.Models.Media>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


Media List:
@if (!Model.Any())
{
    <h3>No medias</h3>
}
else
{
    <table class="table table-bordered table-hover">
        <thead> <tr><th>ID</th><th>Titile</th></tr></thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr> <td>@data.ID</td><td>@data.Name</td></tr>
            }
            <
        </tbody>
    </table>
}