@model List<VidPlace.Models.Media>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of media</h2>

<table>
    <tr><th>ID</th><th>Title</th></tr>

    @foreach (var m in Model)
    {
        <tr>
            <td width="100">@m.ID</td>
            <td width="150">@m.Name</td>
        </tr>
    }
       
</table>